@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Amaranth, sans-serif;
    font-weight: 400;
    color: #808080;
}

/* Header and logo rules */

h1, h2 {
    font-family: Opensans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000080;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    float: left;
    margin-right: 20px;
    max-height: 50px;
}

#logo:hover {
    font-size: 252%;
}

#nav-menu {
    font-size: 125%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 3px solid #000080;
}

.current-page {
    border-bottom: 2px solid #000080;
}

/* Hero Image */

#hero-border {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/14976499_10210123118368648_3678152664524703398_o.jpeg') no-repeat center center;

    animation: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
    
}

/* Why join us section */

#welcome-border {
    height: 600px;
    width: 100%;
}

#scroll-down-welcome {
    text-align: center;
    margin: 20px 20px;
    font-size: 250%;
}

#scroll-down-welcome:hover {
    font-size: 252%;
}

#left-join {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 33.3%;
}

#right-join {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 33.3%;
}

/*headings and content of the welcome section*/

.left-top-heading {
    width: 70%;
    float: left;
    padding-left: 80px;
    clear: both;
    margin-bottom: 20px;
}

.left-top-heading h2 {
    text-align: left;
}

.left-top-heading p {
    text-align: center;
}

.left-bottom-heading {
    width: 70%;
    float: left;
    padding-left: 80px;
    clear: both;
    margin-bottom: 80px;
    margin-top: 40px;
}

.left-bottom-heading h2 {
    text-align: center;
}

.left-bottom-heading p {
    text-align: center;
}

.right-top-heading {
    width: 70%;
    float: right;
    padding-left: 80px;
    clear: both;
    margin-bottom: 80px;
}

.right-top-heading h2 {
    text-align: center;
}

.right-top-heading p {
    text-align: center;
}

.right-bottom-heading {
    width: 70%;
    float: right;
    padding-left: 80px;
    clear: both;
    margin-bottom: 20px;
}

.right-bottom-heading h2 {
    text-align: center;
}

.right-bottom-heading p {
    text-align: center;
}

hr {
    border-top: 1px solid #000080;
    width: 100%;
    margin: 5px 0;
}

/*footer styling */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #000080;
}

/* Upcoming events section */

#upcoming-events {
    background-image: url(../images/IMG_9208.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#upcoming-events div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .6);
    width: 25%;
    height: 400px;
    float: left;
    text-align: center;
    border: 2px solid #808080;
    /* add box-sizing:border-box to include size of border in overall screen width */
    box-sizing:border-box;
}

#upcoming-events h2 {
    color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#upcoming-events hr {
    border-top: 1px solid #808080;
    width: 100%;
    margin: 5px 0;
}

#upcoming-events p {
    color: #fafafa;
}