@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Amaranth, sans-serif;
    font-weight: 400;
    color: #FFDF00;
}

/* Header and logo rules */

h1, h2 {
    font-family: Opensans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #FFDF00;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
    margin-top: 20px;
}

#nav-menu {
    font-size: 125%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 1px solid #FFDF00;
}

.current-page {
    border-bottom: 1px solid #FFDF00;
}