@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Amaranth, sans-serif;
    font-weight: 400;
    color: #808080;
}

/* Header and logo rules */

h1, h2 {
    font-family: Opensans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000080;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logo img {
    float: left;
    margin-right: 20px;
    max-height: 50px;
}

#logo:hover {
    font-size: 252%;
}

#nav-menu {
    font-size: 125%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    margin-top: 30px;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover {
    border-bottom: 3px solid #000080;
}

.current-page {
    border-bottom: 2px solid #000080;
}

/* Hero Image */

#hero-border {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/14976499_10210123118368648_3678152664524703398_o.jpeg') no-repeat center center;

    animation: hero-zoom;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
    
}

/* Why join us section */

#welcome-border {
    height: 500px;
    width: 100%;
}

#scroll-down-welcome {
    text-align: center;
    margin: 20px 20px;
    font-size: 250%;
}

#scroll-down-welcome:hover {
    font-size: 252%;
}

/*why join us section*/

#left-join {
    float: left;
    width: 40%;
}

#right-join {
    float: right;
    width: 40%;
}

#center-join {
    width: 20%;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}
/*headings and content of the welcome section*/

/*left side*/

.left-top-heading {
    float: left;
    margin-top: 40px;
    padding-left: 80px;
    padding-bottom: 80px;
    width: 80%;
}

.left-top-heading h2 {
    text-align: center;
}

.left-top-heading p {
    text-align: center;
}

.left-bottom-heading {
    float: left;
    padding-left: 80px;
    width: 80%;
}

.left-bottom-heading h2 {
    text-align: center;
}

.left-bottom-heading p {
    text-align: center;
}

/*right side*/

.right-top-heading {
    float: right;
    margin-top: 40px;
    padding-right: 80px;
    padding-bottom: 80px;
    width: 80%;
}

.right-top-heading h2 {
    text-align: center;
}

.right-top-heading p {
    text-align: center;
}

.right-bottom-heading {
    float: right;
    padding-right: 80px;
    width: 80%;
}

.right-bottom-heading h2 {
    text-align: center;
}

.right-bottom-heading p {
    text-align: center;
}

hr {
    border-top: 1px solid #000080;
    width: 100%;
    margin: 5px 0;
}

/*footer styling */

footer {
    height: auto;
    position: relative;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #000080;
}

/* Upcoming events section */

#upcoming-events {
    background-image: url(../images/IMG_9208.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 25%;
    width: 100%;
    overflow: hidden;
}

#upcoming-events div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, .5);
    width: 25%;
    height: 250px;
    float: left;
    text-align: center;
    border: 2px solid #808080;
    box-sizing:border-box;
}

#upcoming-events h2 {
    color: #fafafa;
    padding-bottom: 10px;
    text-align: center;
}

#upcoming-events hr {
    border-top: 1px solid #808080;
    width: 100%;
    margin: 5px 0;
}

#upcoming-events p {
    color: #fafafa;
}

/* upcomg events banner */

#upcoming-events-banner h2 {
    text-align: center;
    margin-bottom: 40px;
    text-decoration: underline;
}

/* photos css */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0px;
}

#photos > img {
    width: 100%;
}

/*form page css */

#form-page {
    position: relative;
    height: auto;
    width: 60%;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}

#form-page p {
    color: #000080;
}

input {
    width: 100%;
    padding: 20px;
    margin: 8px 0 40px 0;
    overflow: hidden;
    display: inline-block;
    border: none;
    background: #f1f1f1; 
}

input:focus {
    background-color: #ddd;
  }

  #form-page hr {
    border: 1px solid #808080;
    margin-bottom: 20px;
  }

  #form-page h1 {
    margin-bottom: 20px;
    margin-top: 40px;
  }

#reset, #submit {
    width: 20%;
    text-align: center;
}

#contact-us-photos {
    float: right;
    width: 40%;
}


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

footer {
    display: table-row;
    height: 0;
}

/* media queries for screen sizes */

@media screen and (max-width: 1200px) {

    #logo {
        margin-bottom: 0;
    }

    #welcome-border {
        width: 100%;
        height: 960px;
        margin: 0 auto;
    }

    #nav-menu {
        clear: left;
        float: left;
        margin-left: 48px;
        margin-bottom: 16px;
    }

    #scroll-down-welcome {
        padding: 40px 0;
        margin: 0;
    }

    #left-join, #right-join {
        width: 100%;
        padding: 4px;
    }

    #center-join {
        width: 100%;
        padding: 4px;
    }

    #center-join > img {
        margin-top: 8px;
    }

    #upcoming-events > div {
        width: 100%;
        height: 160px;
        padding: 4px;
    }

    hr {
        display: none;
    }

    #photos {
        column-count: 3;
    }

}

@media screen and (max-width: 450px) {

    #logo {
        width: 80%;
    }

    #welcome-border {
        width: auto;
        height: 1360px;
        margin: 0 auto;
    }

    #logo img {
       float: right;
       width: auto;
    }

    #nav-menu {
        clear: left;
        float: left;
        margin-left: 12px;
        margin-bottom: 16px;
        width: auto;
    }

    #left-join {
        clear: both;
        width: auto;
        text-align: center;
    }

    #right-join {
        text-align: center;
        width: auto;
    }

    #center-join {
        width: auto;
    }

    #upcoming-events {
        width: auto;
    }

    #upcoming-events-banner {
        width: auto;
    }

    footer {
        width: auto;
    }

    #photos {
        column-count: 2;
    }

    #reset, #submit {
        width: 40%;
        text-align: center;
    }
}

